
.speech-bubble {
	position: relative;
	background: #3F6349;
	border-radius: .4em;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.625em solid transparent;
	border-right-color: #3F6349;
	border-left: 0;
	border-bottom: 0;
	margin-top: -0.312em;
	margin-left: -0.625em;
}
